#container {
  border: 20px solid #FC5185;
  width: 50%;
  padding: 1%;
  margin: 0 auto;
}

.rentEntry:nth-child(even) {
  background-color: grey;
}

.rentEntry {
  border: 1px solid black;
  color: red;
  font-family: helvetica;
  text-decoration: none;
}

